*{
    margin: 0;
    padding: 0;
}

.wheelCircle{
    position: absolute;
    top:0;
    right: 0;
    width: 100%; 
    height: 100%; 
    border-radius: 50%;
    margin: 50px;
    background-color:#333;
    overflow: hidden;
    box-shadow: 0 0 0 5px #333,
    0 0 0 15px #fff,
    0 0 0 18px black;
    transition: transform 3s ease-in-out;
}
.wheelCircleContainer{
    position: relative;
    width: 600px;
    height: 600px;
    margin: 100px; 
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.spinFormContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
.inputDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgb(65, 138, 255);
    width: 500px;
    height: 500px;
}
.spinButton{
    position: absolute;
    background-color:green;
    width:60px;
    height: 60px;
    border-radius: 5px;
    z-index: 10;
    border: 4px solid rgba(0,0,0,0.75);
    right: 0;
    bottom: 0;
    cursor: pointer;
    user-select: none;
} 
