/* MyTable.css */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  .tableContainer{
    width:600px;
    margin: 20px;

  }
  
  th {
    background-color: #0a0808;
    color: white;
  }
  .headline{
    margin-left: 100px;
  }
  